body{
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wraper{
    width: 80%;
}

#qr{
    height: 300px;
}

#logo{
    height: 2.5em;
    width: auto;
}

#promo{
    display: flex;
    align-items: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 50px;
}

#promo_img{
    height: 22rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

#slogan{
    margin-left: 50px;
    margin-top: 170px;
}

#whatsapp{
    margin-left: 50px;
}

#contact{
    margin-left: 20px;
}

#selector{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}


#featuded{
    width: 70%;
}

#cards{
    display: flex;
    justify-content: center;
    gap:10px
}

#about{
    padding: 50px;
    margin-top: 70px;
}

#sertification{
    padding: 50px;
}

.p-btn-link{
    color: white;
    text-decoration: none;
}

.o-btn-link{
    color: blue;
    text-decoration: none;
}

.doc{
    max-height: 450px;
    width: auto;
}

.card-img{
    height: 300px;
    width: 150px;
}

footer{
    color: white;
    background-color: rgb(59, 58, 65);
    width: 100%;
    height: 120px;
    margin-top: 50px;
    padding-top: 20px;
}


.na-resp{
    display: none;
}

#fmv{
    display: none;
}

@media screen and (max-width: 600px) {
    .wraper{
        width: 95%;
    }

    #about{
        padding: 7px;
    }

    #promo{
        margin-top: 50px;
    }

    #slogan{
        margin-top: 50px;
    }

    #slogan-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #promo_img{
        height: 15rem;
    }
    #promo{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #whatsapp{
        margin-left: 20px;
    }
    #contact{
        margin-bottom: 100px;
    }
    #fmv{
        display: block;
    }
    #fdv{
        display: none;
    }
}

@media screen and ( max-width: 400px ) {
    .na-resp{
       display: inline;
    }
}
